@import "../../css/roadmap.scss";

$padding-main: 40px;
$margin-bottom-main: 15px;

.CreateTask {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 110%;
  padding: 40px;
  margin-bottom: $margin-bottom-main;
  border: $create-task-border-style;
  border-radius: $create-task-border-radius;
  background-color: $create-task-background-color;
  box-shadow: $create-task-box-shadow;

  input {
    width: 100%;
    color: $roadmap-input-text-color;
    border: $roadmap-input-border-style;
    border-radius: $roadmap-input-border-radius;
    font-size: $roadmap-input-font-size;
    padding: $roadmap-input-padding;
  }
  input::placeholder {
    color: $roadmap-input-placeholder-color;
    font-style: $roadmap-input-placeholder-style;
    font-size: $roadmap-input-placeholder-font-size;
  }

  button {
    background-color: $create-buttons-background-color;
    color: $create-buttons-color;
    border: $create-buttons-border-style;
    border-radius: $create-buttons-border-radius;
    padding: $create-buttons-padding;
    margin-top: $create-buttons-margin-top;
    font-size: $create-buttons-font-size;
  }

  button:disabled {
    opacity: $create-buttons-disabled-opacity;
  }

  .task-type-title-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;

    .task-type-select {
      div {
        min-width: 105px;
        min-height: 25px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
    .task-title {
      margin: 0px 20px 0px 15px;
    }
    .up-task-button,
    .down-task-button {
      background-color: $create-updown-background-color;
      color: $create-updown-color;
      font-size: $create-updown-font-size;
      border: $create-updown-border-style;
      border-radius: $create-updown-border-radius;
      box-shadow: $create-updown-box-shadow;
      padding: $create-updown-padding;
      margin: $create-updown-margin;
      width: $create-updown-width;
      height: $create-updown-height;
      min-width: $create-updown-min-width;
    }
  }

  .task-url {
    width: 100%;
    margin: 20px 0px 30px 0px;
  }

  .task-description {
    width: 100%;
    height: 100px;
  }

  .delete-task-button {
    float: right;
    background-color: $create-back-delete-button-background-color;
  }
}
