.CreateTask {
  position: relative;
  width: 90%;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 10px 0px;
  border: 3px solid #faa999;
  border-radius: 10px;

  .task-type-title-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 20px 10px 20px 10px;

    .task-type-select {
      margin-right: 10px;

      .task-type-select-item {
        top: 50%;
        left: 50%;
      }
    }
    .task-title {
      width: 100%;
      border: 2px solid #cccccc;
      border-radius: 4px;
      padding: 10px;
      margin: 0px 10px 0px 10px;
    }
    .up-task-button,
    .down-task-button {
      float: right;
      width: 30px;
      height: 30px;
      margin: 0px 2px 0px 0px;
      font-size: 90%;
      color: #faa999;
      border: ridge;
      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: 1px 1px 1px #555555;
    }
  }

  .task-contents-url {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 10px 10px 10px;

    .task-url {
      width: 100%;
      padding: 10px 10px 10px 10px;
      border: 2px solid #cccccc;
      border-radius: 4px;
    }
  }

  .task-contents-description {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10px 10px 10px 10px;

    .task-description {
      width: 100%;
      height: 100px;
      padding: 10px 10px 10px 10px;
      border: 2px solid #cccccc;
      border-radius: 4px;
    }
  }

  .delete-task-button {
    float: right;
    border: none;
    border-radius: 3px;
    padding: 10px;
    background-color: #dddddd;
    margin: 20px;
  }
}
