@import "../../css/mypage.scss";

$margin-main: 30px 10px 30px 10px;

.MyPage {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $mypage-main-background-color;

  .user-info {
    position: sticky;
    top: 90px;
    width: $mypage-user-info-width;
    height: $mypage-user-info-height;
    margin: $margin-main;

    .mypage-wordcloud {
      margin-top: 20px;
      background-color: white;
      height: 336px;

      p {
        margin: 10px 15px;
        font-size: 20px;
        font-weight: bold;
        border-bottom: 1px solid black;
      }
    }

    .UserCard {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $mypage-user-info-background-color;
      border: none;

      .user-image {
        width: $mypage-user-info-width * 0.8;
        height: $mypage-user-info-width * 0.8;
        font-size: $mypage-user-info-width * 0.6;
      }

      .user-name {
        align-self: flex-start;
        margin: 20px 0px 0px 0px;
        font-size: 20px;

        .user-icon {
          margin: 0px 10px 0px 0px;
        }
      }
    }
  }

  .mypage-tab {
    position: relative;
    width: $mypage-tab-width;
    box-shadow: $mypage-tab-box-shadow;
    margin: $margin-main;

    .tab-menus {
      display: flex;
      flex-direction: row;
      width: 80%;
      margin: $mypage-tab-menus-margin;

      .tab-menu {
        width: 100%;
        height: $mypage-tab-menu-height;
        min-width: $mypage-tab-menu-min-width;
        border: $mypage-tab-menu-border-style;
        border-radius: $mypage-tab-menu-border-radius;
        background: $mypage-tab-menu-background-color;
        text-align: $mypage-tab-menu-text-align;
        color: $mypage-tab-menu-color;
        font-size: $mypage-tab-menu-font-size;
        margin: $mypage-tab-menu-margin;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }

      .tab-menu-clicked {
        width: 100%;
        height: $mypage-tab-menu-clicked-height;
        min-width: $mypage-tab-menu-clicked-min-width;
        border: $mypage-tab-menu-clicked-border-style;
        border-radius: $mypage-tab-menu-clicked-border-radius;
        background: $mypage-tab-menu-clicked-background-color;
        text-align: $mypage-tab-menu-clicked-text-align;
        color: $mypage-tab-menu-clicked-color;
        font-size: $mypage-tab-menu-clicked-font-size;
        margin: $mypage-tab-menu-margin;
      }

      .tab-menu:hover:enabled {
        background: $mypage-tab-menu-hover-enabled-background-color;
      }

      .tab-menu:disabled {
        opacity: $mypage-tab-menu-disabled-opacity;
        cursor: $mypage-tab-menu-disabled-cursor;
      }
    }

    .tab-panel {
      width: 100%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      background-color: $mypage-tab-panel-background-color;
      min-height: $mypage-user-info-height;
      box-shadow: $mypage-tab-panel-box-shadow;
      padding: $mypage-tab-panel-padding;
    }

    .SimpleRoadmap {
      position: relative;
      width: $mypage-tab-item-width;
      margin: $mypage-tab-item-margin;
    }
  }
}
