.MyPage {
  margin: 10px;

  .user-info {
    position: relative;
    background: #ffffff;
    width: 230px;
    height: 400px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;

    #user-img {
      width: 200px;
      height: 200px;
      border: 1px solid #dddddd;
      border-radius: 70%;
    }
  }
  .mypage-tab {
    position: relative;
    width: 100%;
    margin: 10px 10px 10px 10px;

    .TmpRoadmapItem {
      position: relative;
      background: #cccccc;
      width: 250px;
      height: 250px;
      padding: 10px 10px 10px 10px;
      margin: 10px 10px 10px 10px;
    }
  }
}
