.carousels {
  width: 1300px;
  margin: auto;

  h2 {
    margin-top: 10vh;
    text-shadow: 0px 2px 4px #666666;

    img {
      height: 40px;
      margin: 0px 10px;
    }
  }

  .carousel-description {
    font-size: 35px;
    margin-bottom: 30px;
  }

  .best-roadmaps-panel,
  .new-roadmaps-panel,
  .recommended-roadmaps-panel {
    padding: 20px;
    margin: 20px 0px 40px 0px;
    border-radius: 20px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.3);

    .carousel-title {
      margin: 10px 0px 26px 0px;
      font-weight: 600;
      font-size: 30px;
    }

    .roadmap-title {
      color: black;
      font-size: 35px;
      position: absolute;
      top: 20%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2; /* number of lines to show */
      -webkit-box-orient: vertical;
    }

    h3 {
      margin-bottom: 20px;
    }

    .left-button,
    .right-button {
      width: 50px;
      height: 50px;
      min-width: 50px;
      min-height: 50px;
      background-color: #ffffff;
      border: 1px solid #dddddd;
      border-radius: 70%;
      box-shadow: 1px 1px 5px #666666;
      font-size: 20px;
      opacity: 0.7;
      transition: opacity 0.3s ease-in-out;
    }

    .left-button:hover,
    .right-button:hover {
      opacity: 1;
    }

    .gwZiig {
      padding: 5px 10px 10px 5px;
      height: 100%;
    }
  }

  .best-roadmaps-panel {
    background-color: rgb(255, 236, 239);
  }

  .new-roadmaps-panel {
    background-color: rgba(255, 248, 208, 0.925);
  }

  .recommended-roadmaps-panel {
    background-color: rgb(204, 235, 255);
  }
}
