.carousels {
  width: 1300px;
  margin: auto;

  .best-roadmaps-panel {
    background-color: #f77a6c;
    padding: 20px;
    margin-bottom: 20px;
  }

  .new-roadmaps-panel {
    background-color: #f4aaa2;
    padding: 20px;
    margin-bottom: 20px;
  }
}
