@import "../../css/roadmap.scss";

$padding-main: 0px 40px 40px 40px;
$margin-bottom-main: 10px;

.CreateSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: $padding-main;
  margin-bottom: $margin-bottom-main;
  border: $create-section-border-style;
  border-radius: $create-section-border-radius;
  background-color: $create-section-background-color;

  .section-collapse {
    position: relative;
    left: -100px;
    width: 40px;
    min-width: 40px;
    height: 35px;
    font-size: 20px;
    padding: 0px;
    background-color: $create-buttons2-background-color;
    color: $create-buttons2-color;
    border: 2px solid $create-buttons2-color;
    margin: 0px;
  }

  .title-up-down {
    align-self: flex-end;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin-bottom: 40px;

    .section-title {
      width: 100%;
      margin-right: 20px;
    }

    .up-section-button,
    .down-section-button {
      background-color: $create-updown-background-color;
      color: $create-updown-color;
      font-size: $create-updown-font-size;
      border: $create-updown-border-style;
      border-radius: $create-updown-border-radius;
      box-shadow: $create-updown-box-shadow;
      padding: $create-updown-padding;
      margin: $create-updown-margin;
      width: $create-updown-width;
      height: $create-updown-height;
      min-width: $create-updown-min-width;
    }
  }

  .section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-bottom: $margin-bottom-main;
    border: $create-section-border-style;
    border-radius: $create-section-border-radius;
    background-color: $create-section-background-color;
    .create-task-button {
      align-self: center;
    }
  }

  .delete-section-button {
    align-self: flex-end;
    background-color: $create-back-delete-button-background-color;
    padding: 0px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .delete-icon {
      color: #ffffff;
    }
  }
}
