.CreateSection {
  position: relative;
  width: 100%;
  padding: 10px 10px 10px 10px;
  margin: 0px 0px 30px 0px;
  box-shadow: 2px 2px 4px #000000;
  background-color: #eea7a7;

  .title-up-down {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    border: 1px solid;
    padding: 20px 10px 20px 10px;

    .section-title-label {
      margin: 0px 10px 0px 10px;
    }
    .section-title {
      width: 100%;
      border: 1px solid #bbbbbb;
      padding: 10px 10px 10px 10px;
      margin: 0px 10px 0px 10px;
    }
    .up-section-button,
    .down-section-button {
      width: 35px;
      height: 35px;
      margin: 0px 2px 0px 0px;
      font-weight: 400;
      font-size: 20px;
    }
  }

  .tasks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px 10px 10px 10px;
    border: 1px solid;

    .create-task-button {
      margin: 20px 0px 20px 0px;
    }
  }

  .delete-section-button {
    float: right;
    margin: 20px 0px 20px 0px;
  }
}
