/* ------------------ fonts ------------------ */
@import url(https://fonts.googleapis.com/css?family=Ubuntu);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css2?family=Do+Hyeon);

/* ------------------ background color - main ------------------ */
$main-color: #f53723;
$main-light-color: #f77a6c;
$main-light2-color: #f4aaa2;
$main-dark-color: #d7301a;
$main-dark2-color: #c22c1b;
$main-dark3-color: #753a34;

/* ------------------ background color - main2 ----------------- */
$main2-red-color: #ffa399;
$main2-pink-color: #fccbd2;
$main2-green-color: #b1d3a8;
$main2-blue-color: #9fcde1;

/* ------------------ background color - main3 ----------------- */
$main3-red-color: #ffa393;
$main3-red-light-color: #fcddd7;
$main3-pink-color: #ff7085;
$main3-pink-light-color: #fecbd3;
$main3-green-color: #00c792;
$main3-green-light-color: #95dac8;

/* ------------------ background color - grey, black ------------------ */
$paper-color: #fafafa;
$grey-light-color: #cccccc;
$grey-light2-color: #eeeeee;
$grey-medium-color: #aaaaaa;
$grey-dark-color: #888888;
