@import "./basic.scss";

/* ------------------ edit/create roadmap variables ------------------ */
$create-roadmap-min-width: 850px;

$create-roadmap-body-min-width: 450px;
$create-roadmap-body-max-width: 800px;

$create-roadmap-body-width: 50%;

$create-roadmap-border-style: 8px solid $main-dark-color;
$create-roadmap-border-radius: 10px;

$create-section-border-style: 8px solid $main-light-color;
$create-section-border-radius: $create-roadmap-border-radius;

$create-task-border-style: 8px solid $main-light2-color;
$create-task-border-radius: $create-roadmap-border-radius;

$create-buttons-background-color: $main-light-color;
$create-buttons-color: #ffffff;
$create-buttons-border-style: none;
$create-buttons-border-radius: 5px;
$create-buttons-padding: 10px;
$create-buttons-margin-top: 40px;
$create-buttons-font-size: 100%;

$create-confirm-button-width: 100px;
$create-confirm-button-heigth: 60px;
$create-confirm-button-font-size: 100%;

$create-back-delete-button-background-color: $grey-dark-color;

$create-updown-background-color: #ffffff;
$create-updown-color: $main-light-color;
$create-updown-font-size: 100%;
$create-updown-border-style: ridge $grey-light-color;
$create-updown-border-radius: 4px;
$create-updown-box-shadow: 1px 1px 1px $grey-dark-color;
$create-updown-padding: 0px;
$create-updown-margin: 0px 0px 0px 5px;
$create-updown-width: 35px;
$create-updown-height: 35px;
$create-updown-min-width: 35px;
$create-updown-disabled-opacity: 0.5;

$create-tag-background-color: $grey-medium-color;
$create-tag-border-style: none;
$create-tag-border-radius: 5px;
$create-tag-height: 27px;
$create-tag-font-size: 100%;
$create-tag-padding: 5px 5px 5px 10px;
$create-tag-margin: 0px 5px 2px 0px;
$create-tag-color: #ffffff;

/* <input> variables */
$roadmap-input-text-color: #111111;
$roadmap-input-placeholder-color: $grey-medium-color;
$roadmap-input-placeholder-style: italic;
$roadmap-input-placeholder-font-size: 100%;
$roadmap-input-border-style: 2px solid $grey-light-color;
$roadmap-input-border-radius: 5px;
$roadmap-input-font-size: 15px;
$roadmap-input-padding: 10px;
$tag-input-text-color: $roadmap-input-text-color;
$tag-input-placeholder-color: $roadmap-input-placeholder-color;
$tag-input-placeholder-style: $roadmap-input-placeholder-style;
$tag-input-border-style: $roadmap-input-border-style;
$tag-input-border-radius: $roadmap-input-border-radius;
$tag-input-font-size: 7px;
$tag-input-padding: 2px;
