@import "../../css/roadmap.scss";

$padding-main: 40px;
$margin-bottom-main: 10px;

.Roadmap {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: $create-roadmap-min-width;
  padding-bottom: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  justify-items: center;
  align-content: center;
  align-items: flex-end;
  background-color: $create-roadmap-main-background-color;

  input {
    color: $roadmap-input-text-color;
    border: $roadmap-input-border-style;
    border-radius: $roadmap-input-border-radius;
    font-size: $roadmap-input-font-size;
    padding: $roadmap-input-padding;
  }
  input::placeholder {
    color: $roadmap-input-placeholder-color;
    font-style: $roadmap-input-placeholder-style;
    font-size: $roadmap-input-placeholder-font-size;
  }
  input:focus {
    outline: none;
  }

  button {
    background-color: $create-buttons-background-color;
    color: $create-buttons-color;
    border: $create-buttons-border-style;
    border-radius: $create-buttons-border-radius;
    padding: $create-buttons-padding;
    margin-top: $create-buttons-margin-top;
    font-size: $create-buttons-font-size;
    font-weight: $create-buttons-font-weight;
  }

  button:disabled {
    opacity: $create-buttons-disabled-opacity;
  }

  .main {
    order: 1;
    width: $create-roadmap-body-width;
    min-width: $create-roadmap-body-min-width;
    max-width: $create-roadmap-body-max-width;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 30px 100px 30px;

    h1 {
      font-weight: 1000;
      margin: 50px 0px 50px 0px;
    }

    .roadmap {
      position: relative;
      display: flex;
      width: 100%;
      flex-direction: column;
      padding: $padding-main;
      margin-bottom: 20px;
      border: $create-roadmap-border-style;
      border-radius: $create-roadmap-border-radius;
      background-color: $create-roadmap-background-color;

      .title-private {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        width: 100%;

        #roadmap-title {
          width: 100%;
        }

        #roadmap-private-label {
          width: 13%;
          margin-left: 30px;
        }

        #roadmap-private {
          margin-left: 10px;
        }
      }

      .level-tag {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        width: 100%;

        .roadmap-level-select {
          padding: 20px 0px 20px 0px;
        }

        .tag-block {
          display: inline-flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
          margin-left: 15px;

          .new-tag {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: flex-start;
            align-items: center;
            padding-top: 5px;

            #new-tag {
              width: 150px;
              padding: 5px;
              border-radius: 4px;
            }
            #add-tag-button {
              width: 28px;
              height: 28px;
              padding: 0px;
              margin: 0px 0px 0px 10px;
            }
          }

          .tags {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            flex-wrap: wrap;
            padding-top: 5px;

            .tag {
              display: inline-flex;
              flex-direction: row;
              flex-wrap: nowrap;
              align-items: center;
              height: $create-tag-height;
              background-color: $create-buttons-background-color;
              border-radius: $create-tag-border-radius;
              padding: $create-tag-padding;
              margin: $create-tag-margin;

              .tag-name {
                text-align: center;
                font-size: $create-tag-font-size;
                color: $create-tag-color;
              }

              .delete-tag {
                width: 15px;
                height: 15px;
                text-align: center;
                font-size: 70%;
                padding: 0px;
                margin: 0px 0px 0px 5px;
              }
            }
          }
        }
      }

      #roadmap-description {
        width: 100%;
        height: 100px;
      }
    }

    #create-section-button {
      background-color: $create-buttons2-background-color;
      color: $create-buttons2-color;
    }
  }

  #back-roadmap-button {
    order: 0;
    position: sticky;
    bottom: 30px;
    padding: $create-confirm-button-padding;
    margin: 3%;
    background-color: $create-back-delete-button-background-color;
  }

  #confirm-roadmap-button {
    order: 2;
    position: sticky;
    bottom: 30px;
    padding: $create-confirm-button-padding;
    margin: 3%;
    background-color: $create-buttons2-background-color;
    color: $create-buttons2-color;
  }
}
