@import "../../css/basic.scss";

.SignIn {
  width: 100%;
  height: 100%;
  min-width: 100vh;
  background-color: $paper-color;
  .left {
    width: 50%;
    display: inline-block;
  }
  .right {
    margin-top: 100px;
    width: 50%;
    min-width: 110vh;
    display: inline-block;
    vertical-align: top;
  }
  h4 {
    margin-bottom: 20px;
    color: rgba(#000, 0.5);
    span {
      color: rgba(#000, 1);
      font-weight: 700;
    }
  }
  p {
    font-size: 14px;
    margin-left: 20px;
  }
  label {
    opacity: 0;
  }
  input[type="username"],
  input[type="password"] {
    width: 280px;
    padding: 25px 10px 5px 10px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 50px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    &:focus {
      outline: none;
      border-left: $main-light-color 4px solid;
    }
  }
  button {
    border: none;
    width: 100px;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: $main-dark3-color;
    color: white;
    cursor: pointer;
    &#signin-button {
      margin-right: 0px;
      margin-left: 110px;
      color: white;
      background-color: $main-light-color;
      &:disabled {
        background-color: $main-light2-color;
        cursor: not-allowed;
      }
    }
    &#signup-button {
      margin-left: 80px;
      margin-right: 90px;
    }
    &#forgot-password-button {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      background-color: $paper-color;
      color: orange;
      padding-top: 15px;
      width: 200px;
    }
  }

  @media (max-width: 770px) {
    width: 70%;
  }

  @media (max-width: 500px) {
    width: 80%;
    margin: 50px auto;
  }
}
