@import "../../css/basic.scss";
.SignIn {
  width: 40%;
  max-width: 400px;
  margin: 100px auto;
  p {
    line-height: 155%;
    font-size: 14px;
    max-width: 400px;
    margin-bottom: 20px;
  }
  h4 {
    margin-bottom: 20px;
    color: rgba(#000, 0.5);
    span {
      color: rgba(#000, 1);
      font-weight: 700;
    }
  }
  label {
    position: relative;
    color: black;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    font-size: 12px;
  }
  input[type="username"],
  input[type="password"] {
    width: 98%;
    padding: 25px 10px 5px 10px;
    font-size: 15px;
    font-weight: 700;
    margin: -20px 0 20px;
    margin-right: 2%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    &:focus {
      outline: none;
      border-left: $main-light-color 4px solid;
    }
  }
  button {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 30px;
    margin-right: 40px;
    margin-bottom: 20px;
    background-color: $main-dark3-color;
    color: white;
    cursor: pointer;
    &#signin-button {
      color: white;
      background-color: $main-light-color;
      &:disabled {
        background-color: $main-light2-color;
        cursor: not-allowed;
      }
    }
    &#forgot-password-button {
      text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
      background-color: white;
      color: orange;
      padding-top: 15px;
      width: 200px;
    }
  }
  @media (max-width: 768px) {
    width: 70%;
  }
  @media (max-width: 500px) {
    width: 80%;
    margin: 50px auto;
  }
}
