@import "../../css/basic.scss";

.SignUp {
  background-color: $paper-color;
  .left {
    width: 50%;
    display: inline-block;
  }
  .right {
    margin-top: 100px;
    width: 50%;
    display: inline-block;
    vertical-align: top;
  }
  p {
    line-height: 155%;
    font-size: 14px;
    max-width: 400px;
    margin-left: 250px;
    margin-bottom: 20px;
  }
  h4 {
    margin-bottom: 20px;
    color: rgba(#000, 1);
    font-weight: 700;
  }
  label {
    opacity: 0;
  }
  input {
    width: 35%;
    padding: 25px 10px 5px 10px;
    font-size: 15px;
    font-weight: 700;
    margin-right: 50px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    &:focus {
      outline: none;
      border-left: $main-light-color 4px solid;
    }
  }
  input[type="username"] {
    margin-right: 83px;
  }
  input[type="password"] {
    margin-right: 80px;
  }
  input[type="password-confirm"] {
    margin-right: 140px;
  }
  button {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: $main-dark3-color;
    color: white;
    cursor: pointer;
    &#signup-button {
      margin-left: 50px;
      color: white;
      background-color: $main-light-color;
      &:disabled {
        background-color: $main-light2-color;
        cursor: not-allowed;
      }
    }
    &#signin-button {
      margin-left: 80px;
      margin-right: 60px;
    }
  }
}
