@import "../../css/roadmap.scss";

$padding-main: 40px;

.Task {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  margin: 10px;

  .task-check {
    width: 66px;
    display: flex;
    justify-content: center;

    .checkbox-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      width: 42px;
      height: 42px;
      background-color: #ffffff;
      border-radius: 70%;
      margin-right: 15px;
    }
  }

  .task-content {
    width: 100%;
    padding: 40px;
    border: $create-task-border-style;
    border-radius: $create-task-border-radius;
    background-color: $task-background-color;
    box-shadow: $create-task-box-shadow;

    .task-title {
      width: 100%;
      font-size: $task-title-font-size;
      font-weight: $task-title-font-weight;
    }

    .task-url {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      width: 100%;
      margin: 20px 0px 30px 0px;

      .task-type {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        background-color: #ffffff;
        border: $task-type-border;
        border-radius: $task-description-border-radius;
        padding: 0px 0px 0px 0px;
        margin-right: 40px;
        min-width: 120px;
        min-height: 40px;
      }

      .link-icon {
        margin: 7px 15px 0px 0px;
      }

      .url-valid,
      .url-invalid {
        word-break: break-all;
        margin-top: 7px;
      }

      .url-invalid:hover {
        text-decoration: none;
        color: #007bff;
      }
    }

    .task-description {
      width: 100%;
      padding: 15px;
      background-color: $task-description-background-color;
      border: $task-description-border;
      border-radius: $task-description-border-radius;
    }
  }
}
