.RoadmapLevelIcon {
  font-weight: 400;
  #basic-chip {
    background-color: rgba(0, 126, 0, 0.651);
    color: white;
  }
  #basic-icon {
    color: white;
  }

  #intermediate-chip {
    background-color: rgb(255, 111, 0);
    color: white;
  }
  #intermediate-icon {
    color: white;
  }
  #advanced-chip {
    background-color: rgb(104, 9, 9);
    color: white;
  }
  #advanced-icon {
    color: white;
  }
}
