.SimpleRoadmap {
  width: 280px;
  height: 380px;

  .MuiCardActions-root {
    display: inline !important;
    padding: 0px !important;
  }

  .MuiCardHeader-root {
    padding: 8px 16px 8px 16px;
  }

  .MuiCard-root.MuiPaper-root {
    width: 100%;
    height: 100%;
  }

  .MuiButtonBase-root {
    margin: 5px !important;
    padding: 0px !important;
    width: 80px !important;
  }

  .MuiIconButton-root {
    .MuiIconButton-label {
      p {
        font-size: medium;
        margin-bottom: 0;
      }
    }
  }

  .MuiCardContent-root {
    padding: 0px 12px !important;
  }

  // image size: 4:3
  .makeStyles-media-2 {
    height: 210px !important;
    width: 280px !important;
  }

  .MuiTypography-body2 {
    text-align: start;
  }

  .image-wrapper {
    position: relative;
  }

  .overlay-title {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    // transition: 0.5s ease;
    background-color: grey;
  }

  .roadmap-title {
    color: black;
    font-size: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .card-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .empty-taglist {
    width: 280px;
    height: 32px;
  }

  .overlay-description {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.3s ease;
    background-color: grey;
  }

  .roadmap-description {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .card-wrapper:hover .overlay-description {
    opacity: 0.8;
  }
}
