/* fonts */

@import "./css/basic.scss";

.App {
  font-family: "Nunito", sans-serif;
  text-align: center;
  width: 100%;
  min-width: 1350px;
  scroll-behavior: smooth;
  div,
  h1,
  h2,
  h3,
  p,
  input,
  button {
    font-family: "Nunito", sans-serif;
    box-sizing: border-box;
  }

  button:focus {
    outline: none !important;
  }
  button:hover {
    cursor: grab;
  }
  button:disabled {
    cursor: not-allowed;
  }

  .upper-bar {
    position: sticky;
    top: 0px;
    z-index: 1000;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;
    background-color: #ffffff;
    box-shadow: 0px 0px 5px #999999;

    .LogoButton {
      order: 0;
      height: 100%;
    }

    .UpperUserBar {
      order: 2;
      height: 100%;
    }

    .UpperSearchBar {
      order: 1;
    }
    h1 {
      margin-left: 730px;
    }
  }

  .component {
    min-height: 85vh;
  }

  .footer {
    height: 15vh;
    min-height: 15vh;
    z-index: 1000;
    min-height: 10vh;
    background-color: #666666;
    color: #ffffff;
    padding: 30px;
    text-align: left;

    .footer-copyright {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      p {
        margin-bottom: 0;
      }

      .MuiSvgIcon-root {
        margin: 0px 5px;
      }
    }
  }
}
