/* fonts */

@import "./css/basic.scss";

.App {
  font-family: "Ubuntu", sans-serif;
  text-align: center;
  width: 100%;

  div,
  h1,
  h2,
  h3,
  p,
  input,
  button {
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
  }

  button:focus {
    outline: none !important;
  }
  button:hover {
    cursor: grab;
  }
  button:disabled {
    cursor: not-allowed;
  }

  .upper-bar {
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 0px 0px 0px 10px;

    .LogoButton {
      order: 0;
      height: 80%;
      button {
        height: 100%;
      }
    }

    .UpperUserBar {
      order: 2;
      height: 100%;
    }

    .UpperSearchBar {
      order: 1;
      width: 100%;
    }
  }
}
