.Home {
  width: 40%;
  max-width: 400px;
  margin: 100px auto;
  button {
    border: none;
    width: 120px;
    height: 40px;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 20px;
    color: white;
    background-color: black;
    cursor: pointer;
  }
  h1 {
    text-decoration: underline;
  }
  //   @media (max-width: 768px) {
  //     width: 70%;
  //   }
  //   @media (max-width: 500px) {
  //     width: 80%;
  //     margin: 50px auto;
  //   }
}
