@import "../../css/roadmap.scss";

.RoadmapDetail {
  width: 100%;
  height: 100%;
  margin: auto;
  min-height: 100vh;
  display: flex;
  flex-direction: row;

  input,
  textarea {
    color: $roadmap-input-text-color;
    border: $roadmap-input-border-style;
    border-radius: $roadmap-input-border-radius;
    font-size: $roadmap-input-font-size;
    padding: $roadmap-input-padding;
    resize: none;
  }
  input::placeholder,
  textarea::placeholder {
    color: $roadmap-input-placeholder-color;
    font-style: $roadmap-input-placeholder-style;
    font-size: $roadmap-input-placeholder-font-size;
  }
  input:focus,
  textarea:focus {
    outline: none;
  }

  div,
  a {
    transition: all 0.3s ease-in-out;
  }

  button:disabled {
    opacity: $create-buttons-disabled-opacity;
  }

  .emptycolumn {
    width: 10%;
  }

  .leftcolumn {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: $create-roadmap-border-style;
    border-radius: $create-roadmap-border-radius;
    text-align: left;
    margin-bottom: 400px;

    a {
      padding-top: 110px;
      margin-top: -110px;
    }

    .roadmap-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      background-color: $grey-dark-color;
      align-items: center;
      padding: 40px;
      color: #ffffff;

      .roadmap-image-wrapper {
        overflow: hidden;
        width: 250px;
        min-width: 250px;
        height: 250px * (9/16);
        min-height: 250px * (9/16);

        #roadmap-image {
          background-color: #ffffff;
          width: 100%;
          margin: -56px 0px 0px 0px;
        }
      }

      .title-author-level-tags {
        order: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 40px;

        .roadmap-title {
          order: 0;
          font-size: 30px;
          margin: 0px 0px 10px 0px;
        }
        .roadmap-level {
          order: 1;
          margin: 0px 0px 10px 0px;
        }
        .roadmap-tags {
          order: 2;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin: 0px 0px 3px 0px;

          .roadmap-tag {
            text-align: center;
            font-size: $create-tag-font-size;
            color: $create-tag-color;
            height: $create-tag-height;
            background-color: $create-buttons-background-color;
            border-radius: $create-tag-border-radius;
            margin: 0px 3px 3px 0px;
            padding: 1px 6px 1px 6px;
          }
        }
        .roadmap-original-author {
          order: 4;
        }
        #roadmap-written-date {
          order: 3;
          margin: 0px 0px 0px 0px;
        }
      }
    }

    .roadmap {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 40px 20px 40px 20px;

      .roadmap-description {
        width: 100%;
        border: $roadmap-description-border;
        border-radius: $roadmap-description-border-radius;
        font-size: $roadmap-description-font-size;
        background-color: $roadmap-description-background-color;
        color: $roadmap-description-color;
        padding: 15px;
        margin-bottom: 50px;
      }

      .roadmap-sections {
        width: 100%;
      }
    }

    .comments {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: $comments-background-color;
      border-radius: 5px;
      padding: 30px;

      #roadmap-comment-count {
        width: 100%;
        margin: 10px 0px 30px 0px;
        padding-left: 8px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: 800;
      }

      .comment-input {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        margin-bottom: 20px;

        #new-comment-content-input {
          width: 100%;
          height: 100px;
        }

        #confirm-create-comment-button {
          width: 150px;
          height: 40px;
          border: none;
          border-radius: 7px;
          background-color: $comment-confirm-background-color;
          color: $comment-confirm-color;
          font-weight: $comment-confirm-font-weight;
          font-size: $comment-confirm-font-size;
          margin-top: 10px;
        }
      }

      .roadmap-comments {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
      }
    }
  }

  .rightcolumn {
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 20%;

    .roadmap-panel {
      position: sticky;
      top: 80px;
      display: flex;
      flex-direction: column;
      width: 100%;

      .roadmap-progress {
      }

      .roadmap-author {
        display: flex;
        flex-direction: row;
        width: 100%;

        .UserCard {
          width: 100%;
        }
      }

      .RoadmapButtons {
      }
    }
  }

  .anchors {
    width: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .top-anchor {
      align-self: flex-end;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: sticky;
      bottom: 30px;
      border-radius: 7px;
      border: 1px solid $grey-light-color;
      padding: 10px;
      margin: 0px 40px 40px 0px;
      color: $grey-dark2-color;
      width: 70px;
    }

    .top-anchor:hover {
      text-decoration: none;
      cursor: grab;
      box-shadow: 0px 0px 3px #999999;
    }
  }
}
